  body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
        }

        .suggestions-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .suggestion-container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-bottom: 20px;
        }

        .suggestion-text {

            margin-bottom: 10px;
        }

        .suggestion-links {
            display: flex;
            justify-content: center;
        }

        .suggestion-links a {
            margin: 0 10px;
            color: #007bff;
        }
