{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reply to Comment</title>
    <link rel="stylesheet" href="{% static 'css/reply_comment.css' %}">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <h1>Reply to Comment</h1>
        <form method="post">
            {% csrf_token %}
            <label for="{{ comments.id_for_label }}">Your Reply:</label>
            {{ comments }}

            <button type="submit">Submit Reply</button>
        </form>
    </div>
</body>
</html>
