
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Sign Up</title>
    <style>
    </style>
</head>
<body>
    <div class="signup-container">
        <h2>Sign Up</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="{{signupform.username.id_for_label}}">Username:</label>
            {{ signupform.username }}
            <label for="{{signupform.email.id_for_label}}">Email:</label>
            {{ signupform.email }}
            <label for="{{signupform.first_name.id_for_label}}">First Name:</label>
            {{ signupform.first_name }}
            <label for="{{signupform.last_name.id_for_label}}">Last Name:</label>
            {{ signupform.last_name }}
            <label for="{{signupform.password1.id_for_label}}">Password:</label>
            {{ signupform.password1 }}
            <label for="{{signupform.password2.id_for_label}}">Confirm Password:</label>
            {{ signupform.password2 }}
            <!-- More form fields... -->

            <label for="{{userprofileform.image.id_for_label}}">Profile Image:</label>
            <input type="file" name="{{userprofileform.image.name}}" id="{{userprofileform.image.id_for_label}}">
            {% if userprofileform.instance.image %}
            <img src="{{ userprofileform.instance.image.url }}" alt="Profile Image">
            {% endif %}

            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>
