
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Suggestion Detail</h1>
  <p><strong>Suggested Text:</strong> {{ suggestion.text }}</p>
  <p><strong>Status:</strong> {{ suggestion.status }}</p>

  <h2>Replies</h2>
  <ul>
    {% for reply in suggestion.suggestionreply_set.all %}
      <li>{{ reply.reply_text }}</li>
    {% endfor %}
  </ul>

  <form method="post">
    {% csrf_token %}
    {{ suggestionreplyform.as_p }}
    <button type="submit">Reply</button>
  </form>


</body>
</html>

